<div style="display:none;" id="prolific-complete" class='jspsych-display-element'>
    <br>
    <h1>Study complete!</h1>
    <div id="prolific-completion-code"></div>
    <p>
        If you have problems submitting, please contact:
        <a href="mailto:sumers@princeton.edu">sumers@princeton.edu</a>
</div>

<div id="container-instructions">
    <div class="instructions well">
        <div id="pageblock"></div>
    </div>
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-5">
            </div>
            <div class="col-xs-2 text-center">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Continue
                </button>
            </div>
        </div>
    </div>
</div>